@charset "UTF-8";
/*
 In your main.scss file, use the @import directive to import your reset SCSS file. The @import directive tells Sass to include the contents of another file in the current file.

For example, if you have a reset SCSS file called _reset.scss in a folder called styles, you would add the following line to your main.scss file: 

@import 'styles/reset';

*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 1000vh;
}

.hero__area {
  background-color: #2f2f2f;
  width: 100%;
  height: 804px;
}

.container {
  margin: 0 auto;
  width: 1146px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.nav .links {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav li {
  margin-left: 40px;
  line-height: 160%;
  opacity: 0.6;
  cursor: pointer;
}
.nav li:hover {
  font-weight: 500;
  color: #ffffff;
  opacity: 1;
}
.nav .links li:last-child {
  margin-left: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 141px;
  height: 49px;
  left: 1233px;
  top: 32px;
  background: #f59b00;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}
.nav .links li:last-child:hover {
  background: #d88a02;
}

.hero__area-content {
  display: flex;
}
.hero__area-content .hero__area-left {
  position: relative;
  width: 445px;
  margin-top: 119px;
}
.hero__area-content .hero__area-left .subheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: #f59b00;
  opacity: 1;
}
.hero__area-content .hero__area-left .heading {
  margin-top: 10px;
  font-weight: 700;
  font-size: 61px;
  line-height: 130%;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 1;
}
.hero__area-content .hero__area-left .heading img {
  display: inline;
  vertical-align: middle;
}
.hero__area-content .hero__area-left .paragraph {
  margin-top: 25px;
  opacity: 0.7;
  text-transform: capitalize;
}
.hero__area-content .hero__area-left .btn {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 141px;
  height: 49px;
  left: 1233px;
  top: 32px;
  background: #f59b00;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  opacity: 1;
  border: none;
  cursor: pointer;
}
.hero__area-content .hero__area-left .btn:hover {
  background-color: #d88a02;
}
.hero__area-content .hero__area-left .cta {
  position: inherit;
  right: 50%;
  left: 50%;
  bottom: 6%;
}
.hero__area-content .hero__area-right {
  position: relative;
}
.hero__area-content .hero__area-right .images {
  background: url("/background image.png") no-repeat;
  position: absolute;
  width: 849px;
  height: 565px;
}

.feature {
  margin-top: 130px;
}
.feature .container .items {
  display: flex;
  position: relative;
  margin-bottom: 130px;
  justify-content: space-between;
}
.feature .container .items .item {
  transition: border 0.5s ease-in-out;
}
.feature .container .items .item p {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-transform: capitalize;
  color: #2f2f2f;
  opacity: 0.8;
  margin-bottom: 85px;
}
.feature .container .items .item:hover {
  cursor: pointer;
}
.feature .container .items .item:hover p {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-transform: capitalize;
  color: #2f2f2f;
  opacity: 0.8;
  cursor: pointer;
}
.feature .container .items .item:hover img {
  border-radius: 10px;
}
.feature .container .items .item:hover p::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #f59b00;
  border-radius: 5px;
  width: 100%;
  bottom: -37px;
  left: 0;
}
.feature .container .items::before {
  content: "";
  position: absolute;
  opacity: 0.1;
  border: 1px solid #f59b00;
  border-radius: 5px;
  width: 100%;
  top: 62px;
  left: 0;
}

.abouts {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}
.abouts .abouts__left {
  position: relative;
  width: 829.22px;
  height: 646px;
  background: url("./abouts/Vector.png");
}
.abouts .abouts__left .front {
  position: absolute;
  width: 344px;
  height: 492px;
  left: 322px;
  transform: scale(1.2);
  top: 95px;
  z-index: 1;
  filter: drop-shadow(0px 10px 45px rgba(47, 47, 47, 0.15));
}
.abouts .abouts__left .back1 {
  position: absolute;
  width: 238px;
  top: 25%;
  left: 575px;
  height: 343px;
  z-index: 0;
}
.abouts .abouts__left .back2 {
  position: absolute;
  width: 238px;
  top: 25%;
  left: 199px;
  height: 343px;
  z-index: 0;
}
.abouts .abouts__right {
  margin-left: 83px;
  width: 460px;
  height: 355px;
}
.abouts .abouts__right .subheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: #f59b00;
  opacity: 1;
}
.abouts .abouts__right .heading {
  margin-top: 10px;
  font-weight: 700;
  font-size: 31px;
  line-height: 140%;
  text-transform: capitalize;
  color: #2f2f2f;
}
.abouts .abouts__right .paragraph {
  font-size: 16px;
  margin-top: 25px;
  line-height: 160%;
  text-transform: capitalize;
  color: #2f2f2f;
  opacity: 0.9;
}
.abouts .abouts__right .btn {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 141px;
  height: 49px;
  left: 1233px;
  top: 32px;
  background: #f59b00;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  opacity: 1;
  border: none;
  cursor: pointer;
}
.abouts .abouts__right .btn:hover {
  background-color: #d88a02;
}

.our-product {
  border: 1px solid red;
  margin-bottom: 130px;
}
.our-product .product-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-product .heading {
  font-weight: 700;
  font-size: 31px;
  line-height: 140%;
  text-transform: capitalize;
  color: #2f2f2f;
  margin-bottom: 25px;
}
.our-product .paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  text-transform: capitalize;
  color: #2f2f2f;
  opacity: 0.9;
  margin-bottom: 60px;
}
.our-product .products {
  margin-bottom: 122px;
  height: 700.77px;
  width: 1146px;
  gap: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.our-product .product-1 {
  position: relative;
  width: 264px;
  height: 273px;
  background: #ffe1e8;
  border: 2px solid #fdeef1;
  border-radius: 10px;
  cursor: pointer;
}
.our-product .product-1 img {
  position: absolute;
  top: 15px;
  pointer-events: none;
}
.our-product .product-1:hover {
  border: 1px solid blue;
}
.our-product .product-2 {
  width: 264px;
  height: 273px;
  background: #ffe1e8;
  border: 2px solid #fdeef1;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.our-product .product-2 img {
  position: absolute;
  top: 15px;
  pointer-events: none;
}
.our-product .product-2:hover {
  border: 1px solid blue;
}
.our-product .product-3 {
  width: 264px;
  height: 273px;
  background: #f9dcff;
  border: 2px solid #fdeef1;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.our-product .product-3 img {
  position: absolute;
  top: 15px;
  pointer-events: none;
}
.our-product .product-3:hover {
  border: 1px solid blue;
}
.our-product .product-4 {
  width: 264px;
  height: 273px;
  background: #ffdee7;
  border: 2px solid #fdeef1;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.our-product .product-4 img {
  position: absolute;
  top: 15px;
  pointer-events: none;
}
.our-product .product-4:hover {
  border: 1px solid blue;
}
.our-product .product-5 {
  width: 264px;
  height: 273px;
  background: #ecf1ff;
  border: 2px solid #fdeef1;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.our-product .product-5 img {
  position: absolute;
  top: 15px;
  pointer-events: none;
}
.our-product .product-5:hover {
  border: 1px solid blue;
}
.our-product .product-6 {
  width: 264px;
  height: 273px;
  background: #fadade;
  border: 2px solid #fdeef1;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.our-product .product-6 img {
  position: absolute;
  top: 15px;
  pointer-events: none;
}
.our-product .product-6:hover {
  border: 1px solid blue;
}
.our-product .product-7 {
  width: 264px;
  height: 273px;
  background: #d9e6fe;
  border: 2px solid #fdeef1;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.our-product .product-7 img {
  position: absolute;
  top: 15px;
  pointer-events: none;
}
.our-product .product-7:hover {
  border: 1px solid blue;
}
.our-product .product-8 {
  width: 264px;
  height: 273px;
  background: #ebf4bf;
  border: 2px solid #fdeef1;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.our-product .product-8 img {
  position: absolute;
  top: 15px;
  pointer-events: none;
}
.our-product .product-8:hover {
  border: 1px solid blue;
}
.our-product .btn {
  position: relative;
  padding: 15px 30px;
  width: 170px;
  height: 49px;
  background-color: inherit;
  border: 1px solid rgba(245, 155, 0, 0.2);
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  color: #f59b00;
  cursor: pointer;
}
.our-product .btn:hover {
  background-color: #d2d2d2;
}
.our-product .btn::after {
  position: absolute;
  content: "→";
  padding-left: 5px;
  display: inline-block;
  color: #f59b00;
  font-size: 15px;
}

.cta {
  display: flex;
}
.cta .cta-left {
  width: 492px;
  height: 549px;
}
.cta .cta-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 654px;
  height: 549px;
  border: 1px solid red;
  background-color: grey;
}
.cta .cta-right .cta-right-wrapper {
  width: 514px;
  border: 1px solid red;
}
.cta .cta-right .cta-right-wrapper .heading {
  border: 1px solid red;
  font-weight: 700;
  font-size: 31px;
  line-height: 140%;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 44px;
}
.cta .cta-right .cta-right-wrapper .name {
  display: inline-block;
  margin-right: 50px;
  opacity: 0.25;
  width: 232px;
  height: 54px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.cta .cta-right .cta-right-wrapper .name::placeholder {
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  color: #4c2424;
  opacity: 0.35;
}
.cta .cta-right .cta-right-wrapper .email {
  display: inline-block;
  margin-right: 50px;
  opacity: 0.25;
  width: 232px;
  height: 54px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.cta .cta-right .cta-right-wrapper .email::placeholder {
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  color: #4c2424;
  opacity: 0.35;
}
.cta .cta-right .cta-right-wrapper .address {
  margin-top: 30px;
  display: inline-block;
  margin-right: 50px;
  opacity: 0.25;
  width: 100%;
  height: 54px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.cta .cta-right .cta-right-wrapper .address::placeholder {
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  color: #4c2424;
  opacity: 0.35;
}
.cta .cta-right .cta-right-wrapper .paragraph {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
}
.cta .cta-right .cta-right-wrapper .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 141px;
  height: 49px;
  left: 1233px;
  top: 32px;
  border: none;
  background: #f59b00;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}
.cta .cta-right .cta-right-wrapper .btn:hover {
  background-color: #d88a02;
}

/*# sourceMappingURL=main.css.map */
